.App {
  background-color: #dbd9d3;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  background-color: #dbd9d3;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: center;
}
.Controlers {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 792px) {
  .Controlers {
    margin: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
}
